header {
  display: flex;
  justify-content: center;
}
nav {
  width: 80vw;
  background-color: rgb(216, 107, 107);
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

nav ul li + li::before {
  content: " ";
  border-left: 1px solid #20202083;
  padding-left: 8vw;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}
